<div class="container">
    <h2>Les Editeurs</h2>
    <div class="d-flex align-items-center">

        <input matInput (keyup)="filter($event)" placeholder="Rechercher" class="form-control me-2" type="search" aria-label="Search" style="width: 190px;">
        <div style="margin-left: auto;">
          <app-create></app-create>
        </div>
      </div>
    <table mat-table [dataSource]="editeurs" class="mat-elevation-z8" #mytable matSort>
        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns;"></tr>
        <ng-container matColumnDef="maisonedit">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>MaisonEdition</th>
            <td mat-cell *matCellDef="let t">{{ t.maisonedit}} </td>
            </ng-container>  
            <ng-container matColumnDef="siteweb">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>siteWeb</th>
                <td mat-cell *matCellDef="let t">{{ t.siteweb}} </td>
                </ng-container>
                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>email</th>
                    <td mat-cell *matCellDef="let t">{{ t.email}} </td>
                    </ng-container>
        <ng-container matColumnDef="_id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
            <td mat-cell *matCellDef="let t">
                  <app-view [editeurId]="t._id"></app-view> 
                 <app-edit [editeurId]="t._id"></app-edit> 
         
                <button type="button" (click)=" deleteEditeur(t._id)" class="btn btn-default">
                    <i class="bi bi-trash-fill" style="color:red"></i>
                </button>
            </td>
        </ng-container>
    </table>
    <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 
    20]" showFirstLastButtons></mat-paginator>
</div>