<!-- Button trigger modal -->
<button class="btn btn-default" (click)="openModal()">
    <i class="bi bi-pencil-square" style="color:blue"></i>
</button>
<!-- Modal -->
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Modification Specialites</h4>
                <button type="button" class="btn btn-default" aria-label="Close" (click)="closeModal()"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <template *ngTemplateOutlet="formProduct"></template>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="closeModal()">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Form -->
<ng-template #formProduct>
    <form (ngSubmit)="updateAuteur()">
        <div class="mb-3">
            <input required minlength="4" #nomauteur="ngModel" type="text" class="form-control" id="nomauteur"
                name="nomauteur" placeholder="NomAuteur" [(ngModel)]="specialites.nomspecialite">
        </div>
        <div *ngIf="nomauteur.invalid && (nomauteur.dirty || nomauteur.touched)" class="alert">
            <div *ngIf="nomauteur.errors?.['required']" [ngStyle]="{'color':'red'}">
                Saisir la specialites
            </div>
            <div *ngIf="nomauteur.errors?.['minlength']" [ngStyle]="{'color':'red'}">
                La specialites doit avoir au moins 4 caractères
            </div>
        </div>
        <div>
            <button type="submit" class="btn btn-success" (clic)="updateAuteur()">Enregistrer</button>
        </div>
    </form>
</ng-template>